{% load static %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block janela %}
            F1 estatisticas 
        {% endblock janela %}
    </title>
</head>
<body>
    <header class="main-header">
        <div class="logo-container">
            <h1 class="logo">
                {% block title %}
                    F1 Estatísticas
                {% endblock title %}
            </h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Início</a></li>
                    <li><a href="{% url 'redirecionamento' %}">Redirecionamento</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    {% block body %}
    <div class="estruct">
            <h1 class="titulo"> 
                    Estatísticas da Fórmula 1
            </h1>
            <p class="paragrafo">
                    Bem-vindo ao site de estatísticas da Fórmula 1. Aqui você encontrará informações sobre corridas, pilotos e equipes.
            </p>
        <div class="aside">
            <h1>Classificação</h1>
            <div class="container"> 
                {% for pilot in pilots %}
                    <div class="card">

                        <p><strong>Piloto:</strong> {{ pilot.driverID_id }}</p>
                        <p><strong>Pontos:</strong> {{ pilot.points }}</p>

                    </div>
                {% endfor %}
            </div>
        </div>
            
    </div>
    {% endblock body %}

    
</body>
</html>