* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'f1-black';
    src: url(fonts/Formula1-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-bold4-web';
    src: url(fonts/Formula1-Bold4_web.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-bold';
    src: url(fonts/Formula1-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-regular';
    src: url(fonts/Formula1-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-italic';
    src: url(fonts/Formula1-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-wide';
    src: url(fonts/Formula1-Wide.ttf) format('truetype');
}




.main-header { 
    
    li {
        display: inline-flex;
        margin-top: 5%;
        justify-content: flex-end;
        align-items: center;
    }

    .logo-container {
        display: flex;
        height: 10%;
        align-items: center;
        justify-content: space-between;
        background-color: #ff0000b9;
        font-family: 'f1-black', sans-serif;
        border-color: #1eff00 20px;
        

        .logo {
            padding: 10px;
            text-align: left;
            font-size: 25px;
        }
    }
}

.titulo {
    text-align: left;
    font-family: 'f1-bold-web', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    margin-top: 20px;
}

.paragrafo {
    text-align: left;
    font-family: 'f1-italic', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 20px;
}

body {
    background-color: #3d3a3ac7;
}

.aside {
    height: 1000px;
    width: 20%; 
    float: right;
    margin-right: 1%;
    font-family: "f1-italic", sans-serif;
}

.aside h1 {
    font-family: 'f1-black', sans-serif;
    font-size: 2rem;
    color: #000000;
    text-align: left;
}