* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'f1-black';
    src: url(fonts/Formula1-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-bold4-web';
    src: url(fonts/Formula1-Bold4_web.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-bold';
    src: url(fonts/Formula1-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-regular';
    src: url(fonts/Formula1-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-italic';
    src: url(fonts/Formula1-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'f1-wide';
    src: url(fonts/Formula1-Wide.ttf) format('truetype');
}

body {
    background-color: #444444b7;
}


.main-header { 
    
    li {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ff0000b9;
        font-family: 'f1-black', sans-serif;
        border-color: #1eff00 20px;
        

        .logo {
            padding: 10px;
            text-align: left;
            font-size: 25px;
        }
    }

    .menu {
        display: flex;
        margin-right: 20px;
        text-align: right;
    }
}


.titulo {
    text-align: left;
    font-family: 'f1-bold-web', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    margin-top: 20px;
}

.paragrafo {
    text-align: left;
    font-family: 'f1-italic', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Estilo geral para a tabela */
.django-tables2 table {
    width: 100%;
    border-collapse: collapse; /* Remove espaço entre as bordas */
    margin: 20px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Estilo para o cabeçalho da tabela */
.django-tables2 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

/* Estilo para cabeçalhos e células */
.django-tables2 th,
.django-tables2 td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

/* Estilo "zebrado" para as linhas do corpo da tabela */
.django-tables2 tbody tr.even {
    background-color: #f3f3f3;
}

/* Efeito ao passar o mouse sobre as linhas */
.django-tables2 tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Estilo para a coluna ordenada (seta) */
.django-tables2 th.orderable a {
    text-decoration: none;
    color: #ffffff;
}

.django-tables2 th.orderable.asc::after {
    content: " ▲";
}

.django-tables2 th.orderable.desc::after {
    content: " ▼";
}